@tailwind base;
@tailwind components;
@tailwind utilities;

/* 防止輸入時視窗自動放大 */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
select {
  font-size: 16px !important;
}

@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    font-size: 16px !important;
  }
}

/* 強制移除所有電話和地址的底線和虛線 */
* {
  -webkit-tap-highlight-color: transparent !important;
}

span,
div,
p {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

/* 移除電話號碼和地址的自動識別樣式 */
[class*="phone"],
[class*="address"],
span[class*="phone"],
span[class*="address"],
div[class*="phone"],
div[class*="address"],
.no-phone-decoration,
.no-address-decoration {
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-style: none !important;
  text-decoration-color: transparent !important;
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  -webkit-text-decoration: none !important;
  -moz-text-decoration: none !important;
  -ms-text-decoration: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

/* 針對移動瀏覽器的特殊處理 */
@media (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent !important;
  }
  
  span,
  div,
  p {
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-style: none !important;
    text-decoration-color: transparent !important;
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    -webkit-text-decoration: none !important;
    -moz-text-decoration: none !important;
    -ms-text-decoration: none !important;
  }
}