@tailwind base;
@tailwind components;
@tailwind utilities;

/* 防止輸入時視窗自動放大 */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
select {
  font-size: 16px !important;
}

@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    font-size: 16px !important;
  }
}